.rotatingText {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-width: 250px;
  height: 1.5em;
}

.textItem {
  opacity: 0;
  animation: fadeInOut 30s infinite;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  white-space: nowrap;
}

.textItem:nth-child(1) {
  animation-delay: 0s;
}

.textItem:nth-child(2) {
  animation-delay: -10s;
}

.textItem:nth-child(3) {
  animation-delay: -20s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
