.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 99;
}

.mobile-sider {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .ant-layout-sider {
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  }
}
