@import "tailwindcss";

@layer base {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100vh;
}

.ant-layout {
  margin: 0 !important;
  padding: 0 !important;
}

@utility text-app {
  @apply text-gray-800!;

  @media (prefers-color-scheme: dark) {
    @apply text-gray-200!;
  }
}

@utility bg-app {
  @apply bg-gray-100!;

  @media (prefers-color-scheme: dark) {
    @apply bg-gray-900!;
  }
}

@utility wcag-outline {
  @apply focus:outline-2! outline-offset-1! outline-black! dark:outline-white!;
}

@utility wcag-outline-vi {
  @apply focus-visible:outline-2! outline-offset-1! outline-black! dark:outline-white!;
}

@utility wcag-ring {
  @apply ring-3 ring-blue-300 dark:ring-blue-500;
}

@utility transc200 {
  @apply transition-colors! duration-200!;
}

@custom-variant hocusvi {
  &:hover,
  &:focus-visible {
    @slot;
  }
}
